{% extends 'base.html' %}


{% block content %}
{{ super() }}


{% if not devices_data['added_devices'] %}
	<div class="empty-basket">
		<p>КОРЗИНА ПУСТАЯ</p>
	</div>

{% else %}

	{% for device in devices_data['added_devices'] %}
		<div class="basket-item">
			<button onclick="deleteFromBasket('{{ device.id }}', '{{ spec_urls['DELETING_FROM_BASKET'] }}')" class="item-delete">
				<img src="{{ url_for('static', filename='images/delete_icon.svg') }}" width="44" height="44">
			</button>

			<img class="item-picture" src="{{ url_for('static', filename=picture_dir + device.picture) }}" width="110" height="110">

			<div class="item-info">
				<a href="{{ url_for('product_page', product_id=device.id) }}" class="item-name">{{ device.name }}</a>
			
				<h4 class="item-price">{{ device.price }} руб.</h4>
			</div>

			<h4 class="item-quantity">{{ devices_data['device_quantity'][device.id] }} шт.</h4>
		</div>
	{% endfor %}

	<div class="bask-general-info">
		<h1 class="bask-general-title">Корзина</h1>
		<h4 class="bask-general-quantity">Количество товаров: <span class="bask-general-quantity-data">{{ devices_data['general_quantity'] }} шт.</span></h4>
		<h4 class="bask-general-price">Общая стоимость: <span class="bask-general-price-data">{{ devices_data['general_price'] }} руб.</span></h4>
		<a href="{{ url_for('making_order') }}" class="btn btn-danger order">Оформить заказ</a>
	</div>

{% endif %}


{% endblock %}