{% extends 'base.html' %}


{% block content %}
	{{ super() }}

	<div class="profile-data">

      <h2 id="profile-nickname">{{ current_user.name }}</h2>
      
      <form action="" enctype="multipart/form-data" method="post" class="profile-form">
        <input type="file" accept="image/*" size="1" name="profile_avatar" id="profile-ava">
        <label id="upload-avatar" for="profile-ava">
          <img style="border-radius: 50%;" src="{{ url_for('static', filename='image_storage/user_avatar/' + current_user.avatar) }}" width="150" height="150">
          <img id="plus-effect" src="{{ url_for('static', filename='images/plus_effect.png') }}" width="150" height="150">
        </label>

        <h4><label for="profile-name">Имя</label></h4>
        <input type="text" name="profile_name" id="profile-name" value="{{ current_user.name }}">

        <h4><label for="profile-mail">Почта</label></h4>
        <input type="text" name="profile_mail" id="profile-mail" value="{{ current_user.email }}">

        <h4><label for="profile-psw-old">Введите старый пароль</label></h4>
        <input type="password" name="profile_psw_old" id="profile-psw-old">
        <button class="password-control" onclick="return show_hide_password(this, 'profile-psw-old');"></button>

        <h4><label for="profile-psw-new">Введите новый пароль</label></h4>
        <input type="password" name="profile_psw_new" id="profile-psw-new">
        <button class="password-control" onclick="return show_hide_password(this, 'profile-psw-new');"></button>

        <input type="submit" name="profile_save" value="Сохранить" class="btn btn-primary">
      </form>

      {% if 'admin' in current_user.roles %}
		<a class="admin-panel-button btn btn-warning" style="color: #FFFFFF;" href="/admin"><h4>Админ-панель</h4></a>
	  {% endif %}

	  <a class="profile-logout" href="{{ url_for('logout') }}">
    	<img src="{{ url_for('static', filename='images/logout.svg')}}" width="40" height="40">
		<p class="profile-logout-text">Выход</p>
	  </a>

    </div>

{% endblock %}